Repository zotero-chinese/wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @northword, @zotero-chinese/document-maintainer, @Chikit-L, @windingwind, @l0o0, @jiaojiaodubai, @wakewon, @zepinglee, @ZMAlt, @iShareStuff, @volatile-static

.github/CODEOWNERS:

# 代码负责人配置
# 此文件用于 GitHub Pull Request 的自动 Request Review
# 语法为：`模式  对仓库有写权限的账号`
# 模式为 gitignore 语法，后出现的比先出现的优先级更高
# 参考 <https://docs.github.com/zh/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners>


# 全局
*                                        @northword


# 配置文件
.devcontainer                            @northword
.github/                                 @northword
.vitepress/                              @northword
.vscode/                                 @northword
scripts/                                 @northword


# 贡献指南
contributing/                            @northword
contributing/wiki.md                     @zotero-chinese/document-maintainer


# 用户文档
user-guide/                              @zotero-chinese/document-maintainer
user-guide/plugins/style.md              @Chikit-L
user-guide/plugins/zotero-gpt.md         @Chikit-L
user-guide/plugins/zotero-scihub.md      @Chikit-L
user-guide/plugins/translate/            @windingwind
user-guide/plugins/better-notes.md       @windingwind
user-guide/plugins/linter.md             @northword
user-guide/plugins/jasminum.md           @l0o0
user-guide/plugins/magic.md              @l0o0
user-guide/faqs/update-translators.md    @Chikit-L @jiaojiaodubai @wakewon
user-guide/faqs/word-addon.md            @northword @wakewon
user-guide/faqs/plugins.md               @wakewon @jiaojiaodubai


# CSL 文档
csl-dev-guide/                           @zepinglee @ZMAlt @jiaojiaodubai 


# 插件开发文档
plugin-dev-guide/                        @northword @windingwind @iShareStuff @volatile-static @l0o0


# 转换器文档
translator-dev-guide/                    @l0o0 @jiaojiaodubai

格式
  user-guide/install.md
  user-guide/mobile.md
Owners: @zotero-chinese/document-maintainer

添加镜像站点说明
  user-guide/install.md
Owners: @zotero-chinese/document-maintainer

增加 Zotero Android 正式版信息，移除 Zoo for Zotero (#392)
  assets/images/zoo-download-pdf.png
  assets/images/zoo-webdav设置.png
  assets/images/zoo加载数据.png
  assets/images/zoo添加zotero密钥.png
  user-guide/install.md
  user-guide/mobile.md
Owners: @northword, @zotero-chinese/document-maintainer

Update devcontainer.json
  .devcontainer/devcontainer.json
Owners: @northword

维护：修复 GitHub Codespace 配置错误 (#400)
  .devcontainer/devcontainer.json
Owners: @northword

格式：修复 AutoCorrect 导致的 details 块失效的问题
  user-guide/plugins/zotero-attanger.md
Owners: @zotero-chinese/document-maintainer

CSL 文档：补若干漏字
  csl-dev-guide/primer.md
Owners: @zepinglee, @ZMAlt, @jiaojiaodubai

CSL 文档：补若干漏字 (#413)
  csl-dev-guide/primer.md
Owners: @zepinglee, @ZMAlt, @jiaojiaodubai

维护：使用可复用工作流
  .github/workflows/autofix.yml
  .github/workflows/backup/calibreapp-image-actions.yml.bak
  .github/workflows/backup/deploy-gh-pages.yml.bak
  .github/workflows/backup/lint.yml.bak
  .github/workflows/backup/main.yml.bak
  .github/workflows/build.yml
  .github/workflows/ci.yml
Owners: @northword

Zotero 8: 更新在 Word 中插入参考文献小节
  assets/compressed-images.json
  assets/images/edit-citation2.png
  assets/images/word-切换经典视图.png
  assets/images/word-引文对话框-增删引注.png
  assets/images/word-引文对话框-文库模式.png
  assets/images/word-引文对话框-禁用自动排序.png
  assets/images/word-引文对话框-经典-添加多来源.png
  assets/images/word-引文对话框-经典.png
  assets/images/word-引文对话框-编辑引注.png
  assets/images/word-引文对话框.png
  assets/images/word-引文对话框2.png
  assets/images/word-引文对话框3.png
  assets/images/word-编辑引文.png
  assets/images/word-编辑引注.png
  assets/images/使用经典引文对话框.png
  user-guide/faqs/word-addon.md
  user-guide/ms-word-plugin.md
Owners: @northword, @wakewon, @zotero-chinese/document-maintainer

fix lint
  user-guide/faqs/word-addon.md
Owners: @northword, @wakewon

Fix typo
  user-guide/edit-items.md
Owners: @zotero-chinese/document-maintainer

Fix typo
  user-guide/take-notes.md
Owners: @zotero-chinese/document-maintainer

介绍 Better BibTeX 插件对大小写的影响
  .vitepress/sidebar.ts
  user-guide/edit-items.md
  user-guide/plugins/better-bibtex.md
  user-guide/plugins/linter.md
Owners: @northword, @zotero-chinese/document-maintainer

Update parts about noterools usage
  user-guide/misc/link-citation-to-bibliography.md
Owners: @zotero-chinese/document-maintainer

Update parts about noterools usage (#449)
  user-guide/misc/link-citation-to-bibliography.md
Owners: @zotero-chinese/document-maintainer

migrate
  pnpm-workspace.yaml
Owners: @northword

docs: 更新小牛翻译接口文档
  .vitepress/sidebar.ts
  assets/compressed-images.json
  assets/images/zotero-plugin-translate/niutrans-1.bmp
  assets/images/zotero-plugin-translate/niutrans-2.png
  assets/images/zotero-plugin-translate/niutrans-3.png
  assets/images/zotero-plugin-translate/niutrans-profile.png
  assets/images/zotero-plugin-translate/niutrans-recharge.png
  assets/images/zotero-plugin-translate/niutrans-register.png
  assets/images/zotero-plugin-translate/niutrans-settings.png
  assets/images/zotero-plugin-translate/niutrans-statistics.png
  assets/images/zotero-plugin-translate/zotero-niutrans-service.png
  user-guide/plugins/translate/index.md
  user-guide/plugins/translate/niutrans.md
Owners: @northword, @windingwind

docs: 补充小牛翻译社区专属福利 (#458)
  assets/compressed-images.json
  assets/images/zotero-plugin-translate/niutrans-register.png
  user-guide/plugins/translate/niutrans.md
Owners: @northword, @windingwind

docs: 新增 AGENTS.md 仓库指引
  AGENTS.md
Owners: @northword

docs: 为插件文档 frontmatter 增加 plugin 字段，标注对应插件仓库
  user-guide/plugins/better-notes.md
  user-guide/plugins/jasminum.md
  user-guide/plugins/linter.md
  user-guide/plugins/style.md
  user-guide/plugins/tara.md
  user-guide/plugins/zotero-addons.md
  user-guide/plugins/zotero-attanger.md
  user-guide/plugins/zotero-gpt.md
  user-guide/plugins/zotero-scihub.md
  user-guide/plugins/zotmoov.md
Owners: @windingwind, @l0o0, @northword, @Chikit-L, @zotero-chinese/document-maintainer

docs: 插件文档移除手写下载链接，预留网站注入占位符
  user-guide/plugins/better-notes.md
  user-guide/plugins/jasminum.md
  user-guide/plugins/linter.md
  user-guide/plugins/style.md
  user-guide/plugins/tara.md
  user-guide/plugins/zotero-addons.md
  user-guide/plugins/zotero-attanger.md
  user-guide/plugins/zotero-gpt.md
  user-guide/plugins/zotero-scihub.md
  user-guide/plugins/zotmoov.md
Owners: @windingwind, @l0o0, @northword, @Chikit-L, @zotero-chinese/document-maintainer

feat: 插件文档预览站自动注入插件信息区提示
  .vitepress/config.ts
  user-guide/plugins/better-notes.md
  user-guide/plugins/jasminum.md
  user-guide/plugins/linter.md
  user-guide/plugins/style.md
  user-guide/plugins/tara.md
  user-guide/plugins/zotero-addons.md
  user-guide/plugins/zotero-attanger.md
  user-guide/plugins/zotero-gpt.md
  user-guide/plugins/zotero-scihub.md
  user-guide/plugins/zotmoov.md
Owners: @northword, @windingwind, @l0o0, @Chikit-L, @zotero-chinese/document-maintainer

docs: 标注 Translate for Zotero 文档（translate/ 子目录）
  user-guide/plugins/translate/aliyun.md
  user-guide/plugins/translate/baidu.md
  user-guide/plugins/translate/deepl.md
  user-guide/plugins/translate/deeplx.md
  user-guide/plugins/translate/index.md
  user-guide/plugins/translate/microsoft.md
  user-guide/plugins/translate/niutrans.md
  user-guide/plugins/translate/questions.md
  user-guide/plugins/translate/tencent.md
  user-guide/plugins/translate/volcengine.md
Owners: @windingwind

docs: 插件文档标注插件仓库并预留网站注入占位符 (#461)
  .vitepress/config.ts
  user-guide/plugins/better-notes.md
  user-guide/plugins/jasminum.md
  user-guide/plugins/linter.md
  user-guide/plugins/style.md
  user-guide/plugins/tara.md
  user-guide/plugins/translate/aliyun.md
  user-guide/plugins/translate/baidu.md
  user-guide/plugins/translate/deepl.md
  user-guide/plugins/translate/deeplx.md
  user-guide/plugins/translate/index.md
  user-guide/plugins/translate/microsoft.md
  user-guide/plugins/translate/niutrans.md
  user-guide/plugins/translate/questions.md
  user-guide/plugins/translate/tencent.md
  user-guide/plugins/translate/volcengine.md
  user-guide/plugins/zotero-addons.md
  user-guide/plugins/zotero-attanger.md
  user-guide/plugins/zotero-gpt.md
  user-guide/plugins/zotero-scihub.md
  user-guide/plugins/zotmoov.md
Owners: @northword, @windingwind, @l0o0, @Chikit-L, @zotero-chinese/document-maintainer

docs(plugins): 新增 AI4Paper 插件文档
  .vitepress/sidebar.ts
  user-guide/plugins/ai4paper.md
Owners: @northword, @zotero-chinese/document-maintainer

docs(ai4paper): 移除手写的主页/下载/反馈链接，对齐 #461
  user-guide/plugins/ai4paper.md
Owners: @zotero-chinese/document-maintainer

docs(plugins): 新增 AI4Paper 插件文档 (#462)
  .vitepress/sidebar.ts
  user-guide/plugins/ai4paper.md
Owners: @northword, @zotero-chinese/document-maintainer

docs: 侧边栏插件分组按名称拼音顺序排序
  .vitepress/sidebar.ts
Owners: @northword

docs: 侧边栏插件分组增加排序规则提示行
  .vitepress/sidebar.ts
Owners: @northword

Add missed plugin info
  user-guide/plugins/better-bibtex.md
  user-guide/plugins/magic.md
Owners: @zotero-chinese/document-maintainer, @l0o0

插件：按付费与否分组
  .vitepress/sidebar.ts
Owners: @northword

移除免费标记
  .vitepress/sidebar.ts
Owners: @northword

添加分组规则描述
  .vitepress/sidebar.ts
Owners: @northword

插件：按付费与否分组 (#463)
  .vitepress/sidebar.ts
Owners: @northword

docs: add Refolio introduction
  .vitepress/sidebar.ts
  user-guide/plugins/refolio.md
Owners: @northword, @zotero-chinese/document-maintainer

docs: add Refolio introduction (#468)
  .vitepress/sidebar.ts
  user-guide/plugins/refolio.md
Owners: @northword, @zotero-chinese/document-maintainer

docs: 暂时隐藏 AI4Paper 使用指南
  .vitepress/sidebar.ts
  user-guide/plugins/ai4paper.md.disabled
Owners: @northword, @zotero-chinese/document-maintainer

docs: 添加 Koofr WebDAV 同步配置教程
  assets/compressed-images.json
  assets/images/koofr-app-password.png
  assets/images/koofr-preferences.png
  assets/images/koofr-zotero-webdav.png
  user-guide/sync.md
Owners: @northword, @zotero-chinese/document-maintainer

docs: 新增 Koofr 同步教程并暂时隐藏 AI4Paper 指南 (#470)
  .vitepress/sidebar.ts
  assets/compressed-images.json
  assets/images/koofr-app-password.png
  assets/images/koofr-preferences.png
  assets/images/koofr-zotero-webdav.png
  user-guide/plugins/ai4paper.md.disabled
  user-guide/sync.md
Owners: @northword, @zotero-chinese/document-maintainer
