Repository zotero-chinese/wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @northword, @zotero-chinese/document-maintainer, @Chikit-L, @windingwind, @l0o0, @jiaojiaodubai, @wakewon, @zepinglee, @ZMAlt, @iShareStuff, @volatile-static

.github/CODEOWNERS:

# 代码负责人配置
# 此文件用于 GitHub Pull Request 的自动 Request Review
# 语法为：`模式  对仓库有写权限的账号`
# 模式为 gitignore 语法，后出现的比先出现的优先级更高
# 参考 <https://docs.github.com/zh/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners>


# 全局
*                                        @northword


# 配置文件
.devcontainer                            @northword
.github/                                 @northword
.vitepress/                              @northword
.vscode/                                 @northword
scripts/                                 @northword


# 贡献指南
contributing/                            @northword
contributing/wiki.md                     @zotero-chinese/document-maintainer


# 用户文档
user-guide/                              @zotero-chinese/document-maintainer
user-guide/plugins/style.md              @Chikit-L
user-guide/plugins/zotero-gpt.md         @Chikit-L
user-guide/plugins/zotero-scihub.md      @Chikit-L
user-guide/plugins/translate/            @windingwind
user-guide/plugins/better-notes.md       @windingwind
user-guide/plugins/linter.md             @northword
user-guide/plugins/jasminum.md           @l0o0
user-guide/plugins/magic.md              @l0o0
user-guide/faqs/update-translators.md    @Chikit-L @jiaojiaodubai @wakewon
user-guide/faqs/word-addon.md            @northword @wakewon
user-guide/faqs/plugins.md               @wakewon @jiaojiaodubai


# CSL 文档
csl-dev-guide/                           @zepinglee @ZMAlt @jiaojiaodubai 


# 插件开发文档
plugin-dev-guide/                        @northword @windingwind @iShareStuff @volatile-static @l0o0


# 转换器文档
translator-dev-guide/                    @l0o0 @jiaojiaodubai

维护：尝试修复 ci-pr 签出 pr 仓库
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
Owners: @northword

测试提交
  index.md
Owners: @northword

使用 https://github.com/actions/checkout/discussions/884 的方法
  .github/workflows/ci-pr.yml
Owners: @northword

checkout: repository
  .github/workflows/ci-pr.yml
Owners: @northword

暂时不对 fork 推送
  .github/workflows/ci-pr.yml
Owners: @northword

sync #381
  .github/workflows/ci-pr.yml
Owners: @northword

维护：尝试修复 ci-pr 签出 pr 仓库 (#380)
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
Owners: @northword

fix lint
  index.md
Owners: @northword

始终运行upload
  .github/workflows/ci-pr.yml
Owners: @northword

test commit
  index.md
Owners: @northword

fix lint
  index.md
Owners: @northword

维护：修复 ci-pr 失败时的评论提示 (#381)
  .github/workflows/ci-pr.yml
Owners: @northword

CSL 文档：禁用 MD038 规则，修复部分链接错误
  csl-dev-guide/specification.md
Owners: @zepinglee, @ZMAlt, @jiaojiaodubai

ci: try to solve commit to pr
  .github/workflows/ci-pr.yml
Owners: @northword

ci: fix actions version
  .github/workflows/ci-pr.yml
Owners: @northword

维护：在 CSL 文档目录禁用 markdownlint/md038 规则
  csl-dev-guide/.markdownlint.mjs
  csl-dev-guide/specification.md
Owners: @zepinglee, @ZMAlt, @jiaojiaodubai

维护：隐藏markdownlint配置文件
  .vscode/settings.json
Owners: @northword

CSL 文档：保留分隔符后的尾随空格，修复部分格式问题 (#383)
  .github/workflows/ci-pr.yml
  .vscode/settings.json
  csl-dev-guide/.markdownlint.mjs
  csl-dev-guide/specification.md
Owners: @northword, @zepinglee, @ZMAlt, @jiaojiaodubai

ci: use autofix.ci to commit lint changes
  .github/workflows/autofix.yml
  .github/workflows/ci-pr.yml
Owners: @northword

test commit
  user-guide/edit-items.md
Owners: @zotero-chinese/document-maintainer

mv lint to back
  .github/workflows/backup/lint.yml.bak
  package.json
Owners: @northword

refactor workflows
  .github/workflows/build.yml
  .github/workflows/ci-pr.yml
  .github/workflows/deploy-preview.yml
Owners: @northword

name
  .github/workflows/autofix.yml
Owners: @northword

ci: use autofix.ci to commit lint changes for pr (#384)
  .github/workflows/autofix.yml
  .github/workflows/backup/lint.yml.bak
  .github/workflows/build.yml
  .github/workflows/ci-pr.yml
  .github/workflows/deploy-preview.yml
  package.json
Owners: @northword

译至“消除歧义”
  csl-dev-guide/glossary.md
  csl-dev-guide/specification.md
Owners: @zepinglee, @ZMAlt, @jiaojiaodubai

修复一处链接错误
  csl-dev-guide/specification.md
Owners: @zepinglee, @ZMAlt, @jiaojiaodubai

CSL 文档：译至“消除歧义” (#385)
  csl-dev-guide/glossary.md
  csl-dev-guide/specification.md
Owners: @zepinglee, @ZMAlt, @jiaojiaodubai

重构文档
  user-guide/wps-plugin.md
Owners: @zotero-chinese/document-maintainer

移除无用的图片
  assets/images/miniconda-install.png
  assets/images/python-install.png
  assets/images/run-cmd.png
  assets/images/run-python-version.png
  assets/images/word-document-preferences2.png
  assets/images/wps/wps-install.png
  assets/images/wps/wps-plugin-ui-buttons.png
  assets/images/wps/wps-pluginfile-list.png
  assets/images/wps/wps-success.png
  assets/images/wps/wps-warn1.png
  assets/images/wps/wps-warn2.png
Owners: @northword

WPS 插件：指向新的 JS 插件地址，添加视频教程链接，移除旧的安装教程 (#333)
  assets/images/miniconda-install.png
  assets/images/python-install.png
  assets/images/run-cmd.png
  assets/images/run-python-version.png
  assets/images/word-document-preferences2.png
  assets/images/wps/wps-install.png
  assets/images/wps/wps-plugin-ui-buttons.png
  assets/images/wps/wps-pluginfile-list.png
  assets/images/wps/wps-success.png
  assets/images/wps/wps-warn1.png
  assets/images/wps/wps-warn2.png
  user-guide/wps-plugin.md
Owners: @northword, @zotero-chinese/document-maintainer

移除无用图片
  assets/images/contributing/贡献指南-提交并推送.png
  assets/images/github下载引文格式.png
  assets/images/install-style.png
  assets/images/reader-设置注释颜色.png
  assets/images/tools-addon.png
  assets/images/update-translator-safari-2.jpg
  assets/images/zotero-addon-manager.png
  assets/images/zotero-custom-data-directory-info.png
  assets/images/zotero-plugin-translate/baidu-17.png
  assets/images/zotero-引文格式管理.png
Owners: @northword

维护：合并上传 PR 信息 job 到构建
  .github/workflows/build.yml
Owners: @northword

CSL规范：右侧大纲栏显示所有标题
  csl-dev-guide/primer.md
  csl-dev-guide/specification.md
Owners: @zepinglee, @ZMAlt, @jiaojiaodubai

引注链接到参考文献表：重构 VBA 方法为 ZoteroLinkCitation 版本
  assets/images/endnote-link-citation-to-bib.png
  user-guide/misc/link-citation-to-bibliography.md
Owners: @northword, @zotero-chinese/document-maintainer

维护：更新 markdownlint 配置以解决与 autocorrect 冲突的问题
  package.json
  pnpm-lock.yaml
Owners: @northword

引注链接到参考文献表：重构 VBA 方法为 ZoteroLinkCitation 版本 (#386)
  assets/images/endnote-link-citation-to-bib.png
  user-guide/misc/link-citation-to-bibliography.md
Owners: @northword, @zotero-chinese/document-maintainer

更新 wps-plugin.md 关于 Zotero 7 路径和 AppData 可见性的说明
  user-guide/wps-plugin.md
Owners: @zotero-chinese/document-maintainer

WPS 插件：更新 Zotero 7 路径和 AppData 可见性的说明 (#388)
  user-guide/wps-plugin.md
Owners: @zotero-chinese/document-maintainer

增加正式发布安卓版的信息
  user-guide/install.md
  user-guide/mobile.md
Owners: @zotero-chinese/document-maintainer

移除 Zoo for Zotero 信息
  assets/images/zoo-download-pdf.png
  assets/images/zoo-webdav设置.png
  assets/images/zoo加载数据.png
  assets/images/zoo添加zotero密钥.png
  user-guide/install.md
  user-guide/mobile.md
Owners: @northword, @zotero-chinese/document-maintainer
